bin/*
!bin/.gitkeep
build/*
!build/.gitkeep
vendor
nbproject
.idea
.vagrant
composer.lock
deployment/settings_*
bower_components
cache.properties
wordpress
!src/Wordpress
!tests/Wordpress
.DS_Store
public/templates/cache/*
!public/templates/cache/.gitkeep
deployment/settings.yml
node_modules
db476294.sql
src/Content/
tests/Content/
logs/*