* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/*
 * -- BASE STYLES --
 * Most of these are inherited from Base, but I want to change a few.
 */
body {
    line-height: 1.7em;
    color: #7f8c8d;
    font-size: 13px;
}

h1,
h2,
h3,
h4,
h5,
h6,
label {
    color: #34495e;
}

.pure-img-responsive {
    max-width: 100%;
    height: auto;
}

/*
 * -- LAYOUT STYLES --
 * These are some useful classes which I will need
 */
.l-box {
    padding: 1em;
}

.l-box-lrg {
    padding: 2em;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

.is-center {
    text-align: center;
}



/*
 * -- PURE FORM STYLES --
 * Style the form inputs and labels
 */
.pure-form label {
    margin: 1em 0 0;
    font-weight: bold;
    font-size: 100%;
}

.pure-form input[type] {
    border: 2px solid #ddd;
    box-shadow: none;
    font-size: 100%;
    /*width: 100%;*/
    margin-bottom: 1em;
}

/*
 * -- PURE BUTTON STYLES --
 * I want my pure-button elements to look a little different
 */
.pure-button {
    background-color: #1f8dd6;
    color: white;
    padding: 0.5em 2em;
    border-radius: 5px;
}

a.pure-button-primary {
    background: white;
    color: #1f8dd6;
    border-radius: 5px;
    font-size: 120%;
}


/*
 * -- MENU STYLES --
 * I want to customize how my .pure-menu looks at the top of the page
 */

.home-menu {
    padding: 0.5em;
    text-align: center;
    box-shadow: 0 1px 1px rgba(0,0,0, 0.10);
}
.home-menu {
    background: #62C2CC;
}
.pure-menu.pure-menu-fixed {
    /* Fixed menus normally have a border at the bottom. */
    border-bottom: none;
    /* I need a higher z-index here because of the scroll-over effect. */
    z-index: 4;
}

.home-menu .pure-menu-heading {
    color: #E4F6F8;
    font-weight: 400;
    font-size: 120%;
    float:left;
}

.home-menu .pure-menu-selected a {
    color: #E4F6F8;
    border-bottom:2px solid #E4F6F8;
}

.home-menu a {
    color: #E4F6F8;
    border-bottom:2px solid transparent;
}
.home-menu li a:hover,
.home-menu li a:focus {
    background: none;
    border: none;
    color: #E4F6F8;
    border-bottom:2px solid #E4F6F8;
}


/*
 * -- SPLASH STYLES --
 * This is the blue top section that appears on the page.
 */

.splash-container {
    background: #E4F6F8;
    z-index: 1;
    overflow: hidden;
    /* The following styles are required for the "scroll-over" effect */
    width: 100%;
    height: 38%;
    top: 0;
    left: 0;
    position: fixed !important;
}

.splash {
    /* absolute center .splash within .splash-container */
    width: 80%;
    height: 50%;
    margin: auto;
    position: absolute;
    top: 20px; left: 0; bottom: 0; right: 0;
    text-align: center;
    text-transform: uppercase;
}

/* This is the main heading that appears on the blue section */
.splash-head {
    font-size: 20px;
    font-weight: bold;
    color: #62C2CC;
    border: 0;
    padding: 0 1.6em;
    font-weight: 100;
    border-radius: 5px;
    line-height: 1em;
}

/* This is the subheading that appears on the blue section */
.splash-subhead {
    font-size: 18px;
    color: #62C2CC;
    letter-spacing: 0.05em;
    opacity: 0.8;
}

/*
 * -- CONTENT STYLES --
 * This represents the content area (everything below the blue section)
 */
.content-wrapper {
    /* These styles are required for the "scroll-over" effect */
    position: absolute;
    top: 37%;
    width: 100%;
    min-height: 12%;
    z-index: 2;
    background: white;

}

.content {
    background: #fff;
}

/* This is the class used for the main content headers (<h2>) */
.content-head {
    color:#000000;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin: 2em 0 1em;
}
.ribbon .content-head {
    color: white;
}

/* This is the class used for the content sub-headers (<h3>) */
.content-subhead {
    color: #000000;
    font-weight: normal;
}
.ribbon .content-subhead {
    color: #FFFFFF;
}
.ribbon a {
    color: #FFFFFF;
}
.content-subhead i {
    margin-right: 7px;
}
.content-subhead-listitem {
    margin-bottom:0;
    padding:0;
}
.content-subhead-listitem + p {
    margin:0;
    font-size: 0.94em;
}
.content-subhead-listitem + p time {
    font-weight:bold;
}

/* content items that are linked */
.content a {
    text-decoration: none;
}
.content a.block {
    display:block;
    text-decoration: none;
    color: inherit;
}
.content a.internal-block {
    display:inline;
    text-decoration: underline;
    color: inherit;
}

/* This is the class used for the dark-background areas. */
.ribbon {
    background: #62C2CC;
    color: #E4F6F8;
}

/* This is the class used for the footer */
.footer {
    /*background: #bbf28f;
    color:#505258;*/
    background: #EEF66C;
    color: #F17022;
}

/*
 * -- TABLET (AND UP) MEDIA QUERIES --
 * On tablets and other medium-sized devices, we want to customize some
 * of the mobile styles.
 */
@media (min-width: 48em) {

    /* We increase the body font size */
    body {
        font-size: 16px;
    }
    /* We want to give the content area some more padding */
    .content {
        padding: 2em;
    }

    /* We can align the menu header to the left, but float the
    menu items to the right. */
    .home-menu {
        text-align: left;
    }
    .home-menu ul {
        float: right;
    }

    /* We increase the height of the splash-container */
    /*    .splash-container {
            height: 500px;
        }*/

    /* We decrease the width of the .splash, since we have more width
    to work with */
    .splash {
        width: 50%;
        height: 50%;
    }

    .splash-head {
        font-size: 250%;
    }


    /* We remove the border-separator assigned to .l-box-lrg */
    .l-box-lrg {
        border: none;
    }

}

/*
 * -- DESKTOP (AND UP) MEDIA QUERIES --
 * On desktops and other large devices, we want to over-ride some
 * of the mobile and tablet styles.
 */
@media (min-width: 78em) {
    /* We increase the header font size even more */
    .splash-head {
        font-size: 300%;
    }
}



/* taken from  Blog Styles */
.post-category {
    margin: 0 0.1em;
    padding: 0.2em 0.3em 0.1em 0.3em;
    color: #fff;
    background: #999;
    font-weight: normal;
    letter-spacing: 3px;
}
.post-category-design {
    background: #EEF66C;
    color: #F17022;
}
.post-category-pure {
    background: #E4F6F8;
}
.post-category-yui {
    background: #62C2CC;
}
a.post-category-organizer-url {
    background-color: transparent;
    border-bottom: 1px solid #F17022;
    color:inherit;
}
a.post-category-organizer-url:hover {
    border-bottom: 1px solid transparent;
}
a.post-category {
    text-decoration: none;
}
/*
FDB813
F68B1F
F17022
62C2CC
E4F6F8
EEF66C
*/

/* BUTTONS */
.button-success,
.button-error,
.button-warning,
.button-secondary {
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.button-success {
    background: rgb(28, 184, 65); /* this is a green */
}

.button-error {
    background: rgb(202, 60, 60); /* this is a maroon */
}

.button-warning {
    background: rgb(223, 117, 20); /* this is an orange */
}

.button-secondary {
    background: rgb(66, 184, 221); /* this is a light blue */
}

.mapsLocation {
    border:1px solid #000000;
}

.detailView ol li {
    list-style-type: none;
    list-style-position: inside;
}

.detailView ol li.over {
    text-decoration: line-through;
    font-style: italic;
}

.detailView ol {
    margin-left:0;
    padding-left:0;
}

.detailView h2 {
    margin-top:0.5em !important;
    padding-top:0 !important;;
}

.detailView h3 {
    font-weight: normal;
    text-transform: uppercase;
}

i.fa {
    margin-right: 7px;
}

.vhidden {
    visibility: hidden;
}

.admin .datesBlock input[type] {
    display: inline;
    margin-right:20px;
}

.admin .datesBlock {
    margin-top:16px;
    border: 1px solid #cccccc;
    padding:0 20px;
}
.admin .datesBlock strong {
    cursor: pointer;
}
.admin .datesBlock input {
    margin-left:0;
}
.admin .datesBlock input.datepicker {
    width: 200px;
}
.admin .error {
    color: #ff0000;
}

.admin .regformbox {
    /*display: none;*/
}
.admin .hint strong,
.admin .hint a {
    font-size: 90%;
}
.admin .hint a {
    color: #111;
    text-decoration: underline;
}

.admin .successmessage,
.admin .errormessage{
    font-weight: bold;
    font-style: italic;
    padding-left: 0;
    color: #009926;
}
.admin .errormessage {
    color: #ff0000;
}

.picker__select--month,
.picker__select--year {
    display:inline !important;
    height: 1.4em !important;
    padding:.2em !important;
}
.picker__select--month option,
.picker__select--year option {
    font-size: 100% !important;
    height: 1em !important;
    padding:0 !important;
}

.loginregister .pure-u-1-2 {
    padding-right:20px;
    padding-left:20px;
}

.loginregister p {
    font-size: 90%;
    font-style: italic;
}