<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Onkel Rudi - Der Terminkalender zu Kinderflohmarkt und Kinderbasar.">

    <title>Onkel Rudi - Administration.</title>

    <link rel="stylesheet" href="/public/bower_components/pure/pure-min.css">
    <!--[if lte IE 8]>
    <link rel="stylesheet" href="/public/bower_components/pure/grids-responsive-old-ie-min.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
    <link rel="stylesheet" href="/public/bower_components/pure/grids-responsive-min.css">
    <!--<![endif]-->
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <!--[if lte IE 8]>
    <link rel="stylesheet" href="/public/css/onkelrudi-old-ie.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
    <link rel="stylesheet" href="/public/css/onkelrudi.css">
    <!--<![endif]-->

    <script src="/public/bower_components/jquery/dist/jquery.js"></script>
    <script src="/public/bower_components/underscore/underscore.js"></script>
    <script>
        console.log('z0nk!');
        $(function() {
            $('#newOrganizer').on('submit', function(e) {
                console.log('sending post with new organizer data..... will post json as body now.');
                e.preventDefault();

                var apiUrlOrganizers = '/public/api/v1/organizers';
                var postData = JSON.stringify({
                    name: $('#organizer_name').val(),
                    street: $('#organizer_street').val(),
                    streetNo: $('#organizer_streetNo').val(),
                    zipCode: $('#organizer_zip').val(),
                    city: $('#organizer_city').val(),
                    phone: $('#organizer_phone').val(),
                    email: $('#organizer_email').val(),
                    url: $('#organizer_url').val()
                });

                $.ajax({
                    type: "POST",
                    url: apiUrlOrganizers,
                    contentType: "application/json",
                    data: postData,
                    beforeSend: function() { console.log('beforeSend') },
                    complete: function() { console.log('complete') },
                    success: function(data) {
                        console.log("ajax worked");
                        alert("done with success");
                    },
                    error: function(data) {
                        console.log("ajax error", data);
                        alert("errors occured, damn!");
                    },
                    dataType: 'json'
                });
            });

            $('#newFleaMarket').on('submit', function(e) {
                console.log('sending post with new fleamarket data..... will post json as body now.');
                e.preventDefault();

                var marketDates = [];
                var startDates = $('[name="startDates[]"]');
                var endDates = $('[name="endDates[]"]');
                $.map(
                    startDates,
                    function(element,index) {
                        marketDates.push({
                            start: $(element).val(),
                            end: $(endDates[index]).val()
                        });
                    }
                )

                var apiUrlFleaMarkets = '/public/api/v1/fleamarkets';
                var postData = JSON.stringify({
                    organizerId: $('#fleamarket_organizer').val(),
                    name: $('#fleamarket_name').val(),
                    description: $('#fleamarket_description').val(),
                    start: $('#fleamarket_start').val(),
                    end: $('#fleamarket_end').val(),
                    dates: marketDates,
                    street: $('#fleamarket_street').val(),
                    streetNo: $('#fleamarket_streetNo').val(),
                    zipCode: $('#fleamarket_zipCode').val(),
                    city: $('#fleamarket_city').val(),
                    location: $('#fleamarket_location').val(),
                    url: $('#fleamarket_url').val()
                });

                $.ajax({
                    type: "POST",
                    url: apiUrlFleaMarkets,
                    contentType: "application/json",
                    data: postData,
                    beforeSend: function() { console.log('beforeSend') },
                    complete: function() { console.log('complete') },
                    success: function(data) {
                        console.log("ajax worked");
                        alert("done with success");
                    },
                    error: function(data) {
                        console.log("ajax error", data);
                        alert("errors occured, damn!");
                    },
                    dataType: 'json'
                });
            });

            $('.duplicate').on('click', function(e) {
                var clone = $('.datesBlock div').last().clone();
                $('.datesBlock div:last').after(clone);
            });
        });
    </script>
</head>
<body>
<div class="header">
    <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
        <a class="pure-menu-heading" href="">Onkel Rudi</a>
        <ul class="pure-menu-list">
            <li class="pure-menu-item pure-menu-selected"><a href="#" class="pure-menu-link">Babyflohmärkte, Kinderflohmärkte</a></li>
        </ul>
    </div>
</div>

<div class="splash-container">
    <div class="splash">
        <h1 class="splash-head">Onkel Rudi</h1>
        <p class="splash-subhead">
            Du suchst einen Kinderflohmarkt? Hier findest Du ihn!
        </p>
    </div>
</div>

<div class="content-wrapper">
    <div class="content">
        <h2 class="content-head is-center">Neuen Veranstalter anlegen</h2>
        <div>
            <form id="newOrganizer" method="post" class="pure-form pure-form-stacked">
                <fieldset>
                    <label for="organizer_name">Name des Veranstalters</label>
                    <input id="organizer_name" type="text" placeholder="Name des Veranstalters">

                    <label for="organizer_street">Stra&szlig;e</label>
                    <input id="organizer_street" type="text" placeholder="Stra&szlig;e">

                    <label for="organizer_streetNo">Hausnummer</label>
                    <input id="organizer_streetNo" type="text" placeholder="Hausnummer">

                    <label for="organizer_zip">PLZ</label>
                    <input id="organizer_zip" type="number" placeholder="PLZ">

                    <label for="organizer_city">Ort</label>
                    <input id="organizer_city" type="text" placeholder="Ort">

                    <label for="organizer_phone">Telefonnummer</label>
                    <input id="organizer_phone" type="tel" placeholder="Telefonnummer">

                    <label for="organizer_email">E-Mail</label>
                    <input id="organizer_email" type="email" placeholder="E-Mail">

                    <label for="organizer_url">Website</label>
                    <input id="organizer_url" type="text" placeholder="Website">

                    <button type="submit" class="pure-button">Neuen Veranstalter anlegen - click hier!</button>
                </fieldset>
            </form>
        </div>

        <h2 class="content-head is-center">Neuen Termin anlegen</h2>
        <div>
            <form id="newFleaMarket" method="post" class="pure-form pure-form-stacked">
                <fieldset>
                    <label for="fleamarket_organizer">Zugeordneter Veranstalter</label>
                    <select id="fleamarket_organizer" style="width: 100%;">
                        {% for item in fleamarket_organizers %}
                        <option value="{{item.id}}">{{item.name}}</option>
                        {% endfor %}
                    </select>

                    <label for="fleamarket_name">Name des Veranstaltung</label>
                    <input id="fleamarket_name" type="text" placeholder="Name des Veranstaltung">

                    <label for="fleamarket_description">Beschreibung der Veranstaltung</label>
                    <textarea id="fleamarket_description" type="text" placeholder="Beschreibung der Veranstaltung" style="width: 100%; height: 200px;"></textarea>

                    <label for="fleamarket_start">Beginn</label>
                    <input id="fleamarket_start" type="datetime" placeholder="Beginn der Veranstaltung">

                    <label for="fleamarket_end">Ende</label>
                    <input id="fleamarket_end" type="datetime" placeholder="Ende der Veranstaltung">

                    <section class="datesBlock">
                        <h3>Termine (von bis)</h3>
                        <div>
                            <input name="startDates[]" type="datetime" placeholder="Beginn 0000-00-00 00:00:00">
                            <span>bis</span>
                            <input name="endDates[]" type="datetime" placeholder="Ende 0000-00-00 00:00:00">
                        </div>
                        <p class="duplicate">+</p>
                    </section>

                    <label for="fleamarket_street">Stra&szlig;e</label>
                    <input id="fleamarket_street" type="text" placeholder="Stra&szlig;e">

                    <label for="fleamarket_streetNo">Hausnummer</label>
                    <input id="fleamarket_streetNo" type="text" placeholder="Hausnummer">

                    <label for="fleamarket_zipCode">PLZ</label>
                    <input id="fleamarket_zipCode" type="number" placeholder="PLZ">

                    <label for="fleamarket_city">Ort</label>
                    <input id="fleamarket_city" type="text" placeholder="Ort">

                    <label for="fleamarket_location">Name der Location der Veranstaltung</label>
                    <input id="fleamarket_location" type="text" placeholder="Name der Location der Veranstaltung">

                    <label for="fleamarket_url">Website</label>
                    <input id="fleamarket_url" type="text" placeholder="Website">

                    <button type="submit" class="pure-button">Neuen Termin anlegen - click hier!</button>
                </fieldset>
            </form>
        </div>
    </div>
    <div class="footer l-box is-center">
        {{"now"|date("Y")}} onkel-rudi.de
    </div>

</div>

</body>
</html>
