<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Onkel Rudi - Der Terminkalender zu Kinderflohmarkt und Kinderbasar.">

    <title>Onkel Rudi - Administration.</title>

    <link rel="stylesheet" href="/public/bower_components/pure/pure-min.css">
    <link rel="stylesheet" href="/public/bower_components/pickadate/lib/compressed/themes/default.css">
    <link rel="stylesheet" href="/public/bower_components/pickadate/lib/compressed/themes/default.date.css">
    <link rel="stylesheet" href="/public/bower_components/pickadate/lib/compressed/themes/default.time.css">
    <!--[if lte IE 8]>
    <link rel="stylesheet" href="/public/bower_components/pure/grids-responsive-old-ie-min.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
    <link rel="stylesheet" href="/public/bower_components/pure/grids-responsive-min.css">
    <!--<![endif]-->
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <!--[if lte IE 8]>
    <link rel="stylesheet" href="/public/css/onkelrudi-old-ie.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
    <link rel="stylesheet" href="/public/css/onkelrudi.css">
    <!--<![endif]-->

    <style>
        h2.content-head {
            cursor: pointer;
        }
        h2.content-head + div {
            display: none;
        }
        .picker__select--month,
        .picker__select--year {
            display:inline !important;
            height: 1.4em !important;
            padding:.2em !important;
        }
        .picker__select--month option,
        .picker__select--year option {
            font-size: 100% !important;
            height: 1em !important;
            padding:0 !important;
        }
    </style>

    <script src="/public/bower_components/jquery/dist/jquery.js"></script>
    <script src="/public/bower_components/underscore/underscore.js"></script>
    <script src="/public/bower_components/moment/min/moment-with-locales.min.js"></script>
    <script src="/public/bower_components/pickadate/lib/compressed/picker.js"></script>
    <script src="/public/bower_components/pickadate/lib/compressed/picker.date.js"></script>
    <script src="/public/bower_components/pickadate/lib/compressed/picker.time.js"></script>
    
    <script>
        $(function() {

            // TOGGLE
            $('h2.content-head').on('click', function(e) {
                $(e.currentTarget).find('+div').toggle()
            });

            $('#newOrganizer').on('submit', function(e) {
                console.log('sending post with new organizer data..... will post json as body now.');
                e.preventDefault();

                var apiUrlOrganizers = '/public/api/v1/organizers';
                var postData = JSON.stringify({
                    name: $('#organizer_name').val(),
                    street: $('#organizer_street').val(),
                    streetNo: $('#organizer_streetNo').val(),
                    zipCode: $('#organizer_zip').val(),
                    city: $('#organizer_city').val(),
                    phone: $('#organizer_phone').val(),
                    email: $('#organizer_email').val(),
                    url: $('#organizer_url').val()
                });

                $.ajax({
                    type: "POST",
                    url: apiUrlOrganizers,
                    contentType: "application/json",
                    data: postData,
                    beforeSend: function() { console.log('beforeSend') },
                    complete: function() { console.log('complete') },
                    success: function(data) {
                        console.log("ajax worked");
                        alert("done with success");
                    },
                    error: function(data) {
                        console.log("ajax error", data);
                        alert("errors occured, damn!");
                    },
                    dataType: 'json'
                });
            });

            $('#newFleaMarket').on('submit', function(e) {
                e.preventDefault();

                var startDateItems = $('[name="marketDate[]"]');
                var startTimeItems = $('[name="marketTimeStart[]"]');
                var endTimeItems = $('[name="marketTimeEnd[]"]');
                var startDateTimeItem, endDateTimeItem;

                var marketDates = [];

                $.map(
                    startDateItems,
                    function(element,index) {
                        startDateTimeItem = $(startDateItems[index]).val() + ' ' + $(startTimeItems[index]).val();
                        endDateTimeItem = $(startDateItems[index]).val() + ' ' + $(endTimeItems[index]).val();

                        marketDates.push({
                            start: moment(startDateTimeItem, 'DD.MM.YYYY HH:mm', 'de').format('YYYY-MM-DD HH:mm:ss'),
                            end: moment(endDateTimeItem, 'DD.MM.YYYY HH:mm', 'de').format('YYYY-MM-DD HH:mm:ss')
                        });
                    }
                );

                var apiUrlFleaMarkets = '/public/api/v1/fleamarkets';
                var postData = JSON.stringify({
                    organizerId: $('#fleamarket_organizer').val(),
                    name: $('#fleamarket_name').val(),
                    description: $('#fleamarket_description').val(),
                    dates: marketDates,
                    street: $('#fleamarket_street').val(),
                    streetNo: $('#fleamarket_streetNo').val(),
                    zipCode: $('#fleamarket_zipCode').val(),
                    city: $('#fleamarket_city').val(),
                    location: $('#fleamarket_location').val(),
                    url: $('#fleamarket_url').val()
                });

                console.log('sending post with new fleamarket data.....', postData);

                $.ajax({
                    type: "POST",
                    url: apiUrlFleaMarkets,
                    contentType: "application/json",
                    data: postData,
                    beforeSend: function() { console.log('beforeSend') },
                    complete: function() { console.log('complete') },
                    success: function(data) {
                        console.log("ajax worked");
                        alert("done with success");
                    },
                    error: function(data) {
                        console.log("ajax error", data);
                        alert("errors occured, damn!");
                    },
                    dataType: 'json'
                });
            });

            $('.duplicate').on('click', function(e) {
                var clone = $('.datesBlock div').last().clone();
                $('.datesBlock div:last').after(clone);
            });

            $('.datepicker').pickadate({
                monthsFull: ['Januar', 'Februar', 'März', 'April', 'Mai', 'Juni', 'Juli', 'August', 'September', 'Oktober', 'November', 'Dezember'],
                weekdaysShort: ['So', 'Mo', 'Di', 'Mi', 'Do', 'Fr', 'Sa'],
                today: 'heute',
                clear: 'zurücksetzen',
                close: 'schließen',
                labelMonthNext: 'Nächster Monat',
                labelMonthPrev: 'Voriger Monat',
                labelMonthSelect: 'Monat wählen',
                labelYearSelect: 'Jahr wählen',
                formatSubmit: 'dd.mm.yyyy',
                format: 'dd.mm.yyyy',
                selectYears: 5,
                selectMonths: true,
                firstDay: 1,
                min:true,
                max:0
            });
        });
    </script>
</head>
<body>
<div class="header">
    <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
        <a class="pure-menu-heading" href="">Onkel Rudi</a>
        <ul class="pure-menu-list">
            <li class="pure-menu-item pure-menu-selected"><a href="#" class="pure-menu-link">Babyflohmärkte, Kinderflohmärkte</a></li>
        </ul>
    </div>
</div>

<div class="splash-container">
    <div class="splash">
        <h1 class="splash-head">Onkel Rudi</h1>
        <p class="splash-subhead">
            Du suchst einen Kinderflohmarkt? Hier findest Du ihn!
        </p>
    </div>
</div>

<div class="content-wrapper">
    <div class="content">
        <h2 class="content-head">+ Veranstalter anlegen</h2>
        <div>
            <form id="newOrganizer" method="post" class="pure-form pure-form-stacked">
                <fieldset>
                    <label for="organizer_name">Name des Veranstalters</label>
                    <input id="organizer_name" type="text" placeholder="Name des Veranstalters">

                    <label for="organizer_street">Stra&szlig;e</label>
                    <input id="organizer_street" type="text" placeholder="Stra&szlig;e">

                    <label for="organizer_streetNo">Hausnummer</label>
                    <input id="organizer_streetNo" type="text" placeholder="Hausnummer">

                    <label for="organizer_zip">PLZ</label>
                    <input id="organizer_zip" type="number" placeholder="PLZ">

                    <label for="organizer_city">Ort</label>
                    <input id="organizer_city" type="text" placeholder="Ort">

                    <label for="organizer_phone">Telefonnummer</label>
                    <input id="organizer_phone" type="tel" placeholder="Telefonnummer">

                    <label for="organizer_email">E-Mail</label>
                    <input id="organizer_email" type="email" placeholder="E-Mail">

                    <label for="organizer_url">Website</label>
                    <input id="organizer_url" type="text" placeholder="Website">

                    <button type="submit" class="pure-button">Neuen Veranstalter anlegen - click hier!</button>
                </fieldset>
            </form>
        </div>

        <h2 class="content-head">+ Termin anlegen</h2>
        <div>
            <form id="newFleaMarket" method="post" class="pure-form pure-form-stacked">
                <fieldset>
                    <label for="fleamarket_organizer">Zugeordneter Veranstalter</label>
                    <select id="fleamarket_organizer" style="width: 100%;">
                        {% for item in fleamarket_organizers %}
                        <option value="{{item.id}}">{{item.name}}</option>
                        {% endfor %}
                    </select>
                    <br>
                    <a href="#" id="fleamarket_use_organizer_data">Adressdaten vom Veranstalter übernehmen</a>

                    <label for="fleamarket_name">Name des Veranstaltung</label>
                    <input id="fleamarket_name" type="text" placeholder="Name des Veranstaltung">

                    <label for="fleamarket_description">Beschreibung der Veranstaltung</label>
                    <textarea id="fleamarket_description" type="text" placeholder="Beschreibung der Veranstaltung" style="width: 100%; height: 200px;"></textarea>

                    <section class="datesBlock">
                        <h3>Termine (von bis)</h3>
                        <div>
                            <input name="marketDate[]" class="datepicker" type="date" placeholder="Datum (z.B. 23.05.2016)" style="width: 260px;">
                            von <input name="marketTimeStart[]" type="time" placeholder="Beginn (z.B. 12:00)">
                            bis <input name="marketTimeEnd[]" type="time" placeholder="Ende (z.B. 15:00)"> Uhr
                        </div>
                        <p class="duplicate">+</p>
                    </section>

                    <label for="fleamarket_street">Stra&szlig;e</label>
                    <input id="fleamarket_street" type="text" placeholder="Stra&szlig;e">

                    <label for="fleamarket_streetNo">Hausnummer</label>
                    <input id="fleamarket_streetNo" type="text" placeholder="Hausnummer">

                    <label for="fleamarket_zipCode">PLZ</label>
                    <input id="fleamarket_zipCode" type="number" placeholder="PLZ">

                    <label for="fleamarket_city">Ort</label>
                    <input id="fleamarket_city" type="text" placeholder="Ort">

                    <label for="fleamarket_location">Name der Location der Veranstaltung</label>
                    <input id="fleamarket_location" type="text" placeholder="Name der Location der Veranstaltung">

                    <label for="fleamarket_url">Website</label>
                    <input id="fleamarket_url" type="text" placeholder="Website">

                    <button type="submit" class="pure-button">Neuen Termin anlegen - click hier!</button>
                </fieldset>
            </form>
        </div>
    </div>
    <div class="footer l-box is-center">
        {{"now"|date("Y")}} onkel-rudi.de
    </div>

</div>

</body>
</html>
