<!doctype html>
<html lang="de">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Finde einen Kinderflohmarkt bei Onkel Rudi!">

    <title>Einen Kinderflohmarkt findest Du bei Onkel Rudi!</title>

    <link rel="stylesheet" href="/public/bower_components/pure/pure-min.css">
    <link rel="stylesheet" href="/public/bower_components/pickadate/lib/compressed/themes/default.css">
    <link rel="stylesheet" href="/public/bower_components/pickadate/lib/compressed/themes/default.date.css">
    <link rel="stylesheet" href="/public/bower_components/pickadate/lib/compressed/themes/default.time.css">
    <!--[if lte IE 8]>
    <link rel="stylesheet" href="/public/bower_components/pure/grids-responsive-old-ie-min.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
    <link rel="stylesheet" href="/public/bower_components/pure/grids-responsive-min.css">
    <!--<![endif]-->
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.css">
    <!--[if lte IE 8]>
    <link rel="stylesheet" href="/public/css/onkelrudi-old-ie.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
    <link rel="stylesheet" href="/public/css/onkelrudi.css">
    <!--<![endif]-->

    <script src="/public/bower_components/jquery/dist/jquery.js"></script>
    <script src="/public/bower_components/mustache/mustache.min.js"></script>
    <script src="/public/bower_components/underscore/underscore-min.js"></script>
    <script src="/public/bower_components/moment/min/moment-with-locales.min.js"></script>
    <script src="/public/bower_components/pickadate/lib/compressed/picker.js"></script>
    <script src="/public/bower_components/pickadate/lib/compressed/picker.date.js"></script>
    <script src="/public/bower_components/pickadate/lib/compressed/picker.time.js"></script>

    <script>
        $(function() {

            var DEFAULT_ORGANIZER_ID = {{defaultOrganizerId}};
            {% if editForm %}
            var IS_EDIT_FORM = true;
            {% else %}
            var IS_EDIT_FORM = false;
            {% endif %}

            function validateMandatoryFields() {
                var fieldNames = [
                    'fleamarket_name',
                    'fleamarket_description',
                    'marketDate',
                    'marketTimeFrom',
                    'marketTimeTo',
                    'fleamarket_location',
                    'fleamarket_street',
                    'fleamarket_streetNo',
                    'fleamarket_zipCode',
                    'fleamarket_city'
                ];

                var el;
                var elLabel;
                var hasError = false;

                $.each(fieldNames, function( index, value ) {
                    el = $('#'+value);
                    elLabel = $('label[for="'+value+'"]');

                    $('#submitform').removeClass('button-warning');

                    if (el.val() == '') {
                        hasError = true;
                        elLabel.addClass("error");
                    } else {
                        elLabel.removeClass("error");
                    }
                });

                if (!hasError) {
                    var isUnknownOrganizer = $('#organizer_name_unknown').is(':checked');

                    // user is not organizer and we do not edit
                    if (!isUnknownOrganizer && $('#fleamarket_organizer').val() == null && $('#organizer_name').val() == '') {
                        hasError = true;
                        $('label[for="organizer_name"]').addClass("error");
                    }
                }

                if (hasError) {
                    $('#submitform').addClass('button-warning');
                }

                return !hasError;
            };

            function isNewOrganizer() {
                if ($('#fleamarket_organizer').length == 0 || $('#fleamarket_organizer').val() == null) {
                    return true;
                }

                return false;
            };

            $('#organizer_name_unknown').change(function() {
                $('#organizer_data').toggle();

                var oldOrganizerId = $('#fleamarket_organizer').val();

                if (this.checked) {
                    if (IS_EDIT_FORM == false) {
                        // hidden input is needed here - since it is only available in edit mode, we create it here via js
                        var hiddenOrganizerId = $(
                            '<input type="hidden" id="fleamarket_organizer" name="fleamarket_organizer" value="">'
                        );
                        $('#newFleaMarket').prepend(hiddenOrganizerId);
                    }

                    $('#fleamarket_organizer').val(DEFAULT_ORGANIZER_ID);
                } else {
                    if (IS_EDIT_FORM == false) {
                        $('#fleamarket_organizer').remove();
                    } else {
                        $('#fleamarket_organizer').val(oldOrganizerId);
                    }
                }
            });

            $('#newFleaMarket').on('submit', function(e) {
                e.preventDefault();

                // validate mandatory fields
                if (validateMandatoryFields() == false) {
                    $('#submitform').parent().append(
                        '<p class="errormessage"><i class="fa fa-exclamation fa-lg"></i>Bitte alle Pflichtfelder ausfüllen!</p>'
                    );
                    return false;
                }

                // TODO: we need an entry point in an action to persist market and organizer using a transaction
                // if createForm POST, if editForm PUT to that uri

                if (isNewOrganizer()) {
                    // ############# grab Organizer data ##################
                    var apiUrlOrganizers = '/public/api/v1/organizers';
                    var postData = JSON.stringify({
                        name: $('#organizer_name').val(),
                        street: $('#organizer_street').val(),
                        streetNo: $('#organizer_streetNo').val(),
                        zipCode: $('#organizer_zip').val(),
                        city: $('#organizer_city').val(),
                        phone: $('#organizer_phone').val(),
                        email: $('#organizer_email').val(),
                        url: $('#organizer_url').val()
                    });

                    $.ajax({
                        type: "POST",
                        url: apiUrlOrganizers,
                        contentType: "application/json",
                        data: postData,
                        success: function (data) {
                            console.log("Organizer created successfully.", data);
                            persistFleaMarket(data.data);
                        },
                        error: function (data) {
                            console.log("ajax error", data);
                        },
                        dataType: 'json'
                    });
                } else {
                    persistFleaMarket($('#fleamarket_organizer').val());
                }
            });

            /**
             * insert or update fleamarket
             */
            function persistFleaMarket(fleamarketOrganizerId) {
                // ############# grab FleaMarket data #################
                var startDateItems = $('[name="marketDate[]"]');
                var startTimeItems = $('[name="marketTimeStart[]"]');
                var endTimeItems = $('[name="marketTimeEnd[]"]');
                var startDateTimeItem, endDateTimeItem;

                var marketDates = [];

                $.map(
                    startDateItems,
                    function(element,index) {
                        startDateTimeItem = $(startDateItems[index]).val() + ' ' + $(startTimeItems[index]).val();
                        endDateTimeItem = $(startDateItems[index]).val() + ' ' + $(endTimeItems[index]).val();

                        marketDates.push({
                            start: moment(startDateTimeItem, 'DD.MM.YYYY HH:mm', 'de').format('YYYY-MM-DD HH:mm:ss'),
                            end: moment(endDateTimeItem, 'DD.MM.YYYY HH:mm', 'de').format('YYYY-MM-DD HH:mm:ss')
                        });
                    }
                );

                {% if createForm %}
                var apiUrlFleaMarkets = '/public/api/v1/fleamarkets';
                var requestMethod = 'POST';
                {% else %}
                var apiUrlFleaMarkets = '/public/api/v1/fleamarkets/{{editDto.id}}';
                var requestMethod = 'PUT';
                var organizerUpdatePostData = JSON.stringify({
                    id: $('#fleamarket_organizer').val(),
                    name: $('#organizer_name').val(),
                    street: $('#organizer_street').val(),
                    streetNo: $('#organizer_streetNo').val(),
                    zipCode: $('#organizer_zip').val(),
                    city: $('#organizer_city').val(),
                    phone: $('#organizer_phone').val(),
                    email: $('#organizer_email').val(),
                    url: $('#organizer_url').val()
                });
                {% endif %}

                var postData = JSON.stringify({
                    {% if createForm %}
                    organizerId: fleamarketOrganizerId,
                    {% else %}
                    organizer: organizerUpdatePostData,
                    {% endif %}
                    name: $('#fleamarket_name').val(),
                    description: $('#fleamarket_description').val(),
                    dates: marketDates,
                    street: $('#fleamarket_street').val(),
                    streetNo: $('#fleamarket_streetNo').val(),
                    zipCode: $('#fleamarket_zipCode').val(),
                    city: $('#fleamarket_city').val(),
                    location: $('#fleamarket_location').val(),
                    url: $('#fleamarket_url').val()
                });

                $.ajax({
                    type: requestMethod,
                    url: apiUrlFleaMarkets,
                    contentType: "application/json",
                    data: postData,
                    success: function(data) {
                        console.log("FleaMarket stored successfully!", data);
                        {% if editForm %}
                        var url = '/public/admin/termin/{{editDto.id}}';
                        $('#submitform').addClass('button-success');
                        $('#submitform').parent().append(
                            '<p class="successmessage"><i class="fa fa-check fa-lg"></i>Dein <a href="'+url+'" title="Zum aktualisierten Termin">Termin</a> wurde erfolgreich aktualisiert!</p>'
                        );
                        window.setTimeout(function() {
                            window.location.href = '{{profileurl}}';
                        }, 3000);
                        {% else %}
                        var url = '/public/admin/termin/' + data.data;
                        $('#submitform').addClass('button-success');
                        $('#submitform').parent().append(
                            '<p class="successmessage"><i class="fa fa-check fa-lg"></i>Danke - Dein <a href="'+url+'" title="Zu Deinem neu angelegten Termin">Termin</a> wurde erfolgreich angelegt! Dein Termin wird in der Liste angezeigt, sobald er aktiviert wurde. Bitte habe noch einen Moment Geduld!</p>'
                        );
                        {% endif %}
                    },
                    error: function(data) {
                        console.log("ajax error", data);
                        $('#submitform').parent().append(
                            '<p class="errormessage"><i class="fa fa-exclamation fa-lg"></i>Beim Verarbeiten der Daten ist etwas schiefgegangen. :( Bitte probiere es später erneut.</p>'
                        );
                    },
                    dataType: 'json'
                });
            };

            $('.duplicate').on('click', function(e) {
                addDateTimeSelectionRow('/public/templates/pickadate_container.html');
            });

            function addDateTimeSelectionRow(templateName, templateVariables /*{placeholder: 'value'}*/) {
                $.get(templateName, function(template) {
                    var renderedHtml = Mustache.render(template, templateVariables);
                    $('.datesBlock > div:last').after(renderedHtml);
                    initPickadate();
                })
            };

            $('.hint > a').on('click', function(e) {
                e.preventDefault();
                var fieldNames = [
                    ['fleamarket_street', 'organizer_street'],
                    ['fleamarket_streetNo', 'organizer_streetNo'],
                    ['fleamarket_zipCode', 'organizer_zip'],
                    ['fleamarket_city', 'organizer_city']
                ];

                $.each(fieldNames, function( index, value ) {
                    $('#'+value[1]).val(
                        $('#'+value[0]).val()
                    );
                });
            });

            function initPickadate() {
                var timesConfig = {
                    clear: 'zurücksetzen',
                    format: 'HH:i',
                    formatSubmit: 'HH:i',
                    interval: 15,
                    min: [8,00],
                    max: [22,0]
                };
                var datesConfig = {
                    monthsFull: ['Januar', 'Februar', 'März', 'April', 'Mai', 'Juni', 'Juli', 'August', 'September', 'Oktober', 'November', 'Dezember'],
                    weekdaysShort: ['So', 'Mo', 'Di', 'Mi', 'Do', 'Fr', 'Sa'],
                    today: 'heute',
                    clear: 'zurücksetzen',
                    close: 'schließen',
                    labelMonthNext: 'Nächster Monat',
                    labelMonthPrev: 'Voriger Monat',
                    labelMonthSelect: 'Monat wählen',
                    labelYearSelect: 'Jahr wählen',
                    formatSubmit: 'dd.mm.yyyy',
                    format: 'dd.mm.yyyy',
                    selectYears: 5,
                    selectMonths: true,
                    firstDay: 1,
                    min:true,
                    max:0
                };

                var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
                if ($.inArray('test=1', hashes) != -1) {
                    datesConfig.editable = true;
                    timesConfig.editable = true;
                }

                $('.timepicker').pickatime(timesConfig);
                $('.datepicker').pickadate(datesConfig);
            };

            initPickadate();
        });
    </script>
</head>
<body class="admin">
<div class="header">
    <nav class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
        <a class="pure-menu-heading" href="/public/">Onkel Rudi</a>
        <ul class="pure-menu-list">
            {% for item in wpCategories %}
            <li class="pure-menu-item"><a href="/public/{{item.slug}}/kategorie/{{item.id}}" class="pure-menu-link">{{item.name}}</a></li>
            {% endfor %}
            {% if isLoggedIn == false %}
            <li class="pure-menu-item"><a href="/public/login/" class="pure-menu-link">Login</a></li>
            {% endif %}
            {% if isLoggedIn == true %}
            <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
                <a href="#" class="pure-menu-link" id="settings" aria-haspopup="true"><i class="fa fa-user" title="Deine Profileinstellungen"></i></a>
                <ul class="pure-menu-children" role="menu" aria-labelledby="settings" aria-hidden="true">
                    <li class="pure-menu-item"><a href="{{profileurl}}" class="pure-menu-link">Meine Flohmärkte</a></li>
                    <li class="pure-menu-item"><a href="{{createfleamarketurl}}" class="pure-menu-link">Flohmarkt eintragen</a></li>
                    <li class="pure-menu-item"><a href="{{changepasswordurl}}" class="pure-menu-link">Passwort ändern</a></li>
                    <li class="pure-menu-item"><a href="{{logouturl}}" class="pure-menu-link" id="logout">Logout</a></li>
                </ul>
            </li>
            {% endif %}
        </ul>
    </nav>
</div>

<div class="content-wrapper">
    <div class="content">
        {% if editForm %}
        <h2 class="content-head">Bearbeite hier deine Flohmarkt-Termine!</h2>
        {% else %}
        <h2 class="content-head">Veröffentliche hier deine Flohmarkt-Termine!</h2>
        <p>
            Alle Angaben kannst du jederzeit wieder ändern. Pflichtfelder sind mit (*) gekennzeichnet.
        </p>
        {% endif %}

        {% if loggedIn %}
        <div class="regformbox">

            <form id="newFleaMarket" method="post" class="pure-form pure-form-stacked">
                <!-- set hidden organizer id -->
                {% if (isOrganizer) %}
                <input type="hidden" id="fleamarket_organizer" name="fleamarket_organizer" value="{{actualOrganizerId}}">
                {% elseif (editForm) %}
                <input type="hidden" id="fleamarket_organizer" name="fleamarket_organizer" value="{{editDto.organizer.id}}">
                {% endif %}
                <!-- /set hidden organizer id -->

                <div class="pure-g">
                    <div class="pure-u-1 pure-u-md-3-4 pure-u-lg-1-2">
                        <label for="fleamarket_name">Name des Kinderflohmarkts (*)</label>
                        <input id="fleamarket_name" type="text" placeholder="Wie heißt Dein Kinderflohmarkt?" class="pure-input-1" value="{{editDto.name}}">
                    </div>
                </div>

                <div class="pure-g">
                    <div class="pure-u-1 pure-u-md-3-4 pure-u-lg-1-2">
                        <label for="fleamarket_description">Beschreibung (*)</label>
                        <textarea id="fleamarket_description" placeholder="Beschreibe bitte kurz Deinen Kinderflohmarkt. Wer wird dort was anbieten, wieviel Kuchen wird es geben, usw." style="height: 200px;" class="pure-input-1">{{editDto.description}}</textarea>
                    </div>
                </div>

                <div class="pure-g">
                    <div class="pure-u-1 pure-u-md-3-4 pure-u-lg-1-2">
                        <section class="datesBlock">
                            <h3>Termin für den Kinderflohmarkt - Wann findet er statt? (*)</h3>
                            {% if editForm %}
                                {% for dateItem in editDto.dates %}
                            <div style="padding:0;">
                                <input name="marketDate[]" class="datepicker" type="date" placeholder="Datum (z.B. 23.05.2016)" value="{{dateItem.start|date('d.m.Y')}}" data-value="{{dateItem.start|date('d.m.Y')}}">
                                <input name="marketTimeStart[]"  class="timepicker pure-input-1-4" type="time" placeholder="Beginn (z.B. 12:00)" value="{{dateItem.start|date('H:i')}}">
                                <input name="marketTimeEnd[]" class="timepicker pure-input-1-4" type="time" placeholder="Ende (z.B. 15:00)" value="{{dateItem.end|date('H:i')}}">
                            </div>
                                {% endfor %}
                            {% endif %}
                            {% if createForm %}
                            <div style="padding:0;">
                                <label for="marketDate">Datum - von - bis</label><br>
                                <input name="marketDate[]" id="marketDate" class="datepicker" type="date" placeholder="Datum (z.B. 23.05.2016)">
                                <input name="marketTimeStart[]" id="marketTimeFrom" class="timepicker pure-input-1-4" type="time" placeholder="Beginn (z.B. 12:00)">
                                <input name="marketTimeEnd[]" id="marketTimeTo" class="timepicker pure-input-1-4" type="time" placeholder="Ende (z.B. 15:00)">
                            </div>
                            {% endif %}
                            <p>Es gibt mehrere Termine für diesen Flohmarkt?<br><strong class="duplicate">+ weiteren Termin hinzufügen</strong></p>
                        </section>
                    </div>
                </div>

                <div class="pure-g">
                    <div class="pure-u-1 pure-u-md-3-4 pure-u-lg-1-2">
                        <h3>Wo findet der Kinderflohmarkt statt?</h3>
                    </div>
                </div>

                <div class="pure-g">
                    <div class="pure-u-1 pure-u-md-3-4 pure-u-lg-1-2">
                        <label for="fleamarket_location">Veranstaltungsort (*)</label>
                        <input id="fleamarket_location" type="text" placeholder="Wo findet der Flohmarkt statt? Z.B. KiTa Sonnenblume oder Turnhalle der Waldschule." class="pure-input-1" value="{{editDto.location}}">
                    </div>
                </div>

                <div class="pure-g">
                    <div class="pure-u-9-24">
                        <label for="fleamarket_street">Stra&szlig;e (*)</label>
                        <input id="fleamarket_street" type="text" placeholder="Stra&szlig;e" class="pure-input-1" value="{{editDto.street}}">
                    </div>

                    <div class="pure-u-3-24">
                        <label for="fleamarket_streetNo" class="nowrap">Hausnummer (*)</label>
                        <input id="fleamarket_streetNo" type="text" placeholder="Hausnummer" class="pure-input-1" value="{{editDto.streetNo}}">
                    </div>
                </div>

                <div class="pure-g">
                    <div class="pure-u-3-24">
                        <label for="fleamarket_zipCode" class="nowrap">PLZ (*)</label>
                        <input id="fleamarket_zipCode" type="text" placeholder="PLZ" class="pure-input-1" value="{{editDto.zipCode}}">
                    </div>

                    <div class="pure-u-9-24">
                        <label for="fleamarket_city">Ort (*)</label>
                        <input id="fleamarket_city" type="text" placeholder="Ort" class="pure-input-1" value="{{editDto.city}}">
                    </div>
                </div>

                <div class="pure-g">
                    <div class="pure-u-1 pure-u-md-3-4 pure-u-lg-1-2">
                        <label for="fleamarket_url">Website für diesen Flohmarkt</label>
                        <input id="fleamarket_url" type="text" placeholder="Link zur Flohmarkt-Website" class="pure-input-1" value="{{editDto.url}}">
                    </div>
                </div>

                <!-- only create or editing organizer -->
                {% if (not isOrganizer) %}
                <div class="pure-g">
                    <div class="pure-u-1 pure-u-md-3-4 pure-u-lg-1-2">
                        <h3>Wer veranstaltet den Kinderflohmarkt?</h3>
                        <label for="organizer_name_unknown" class="pure-checkbox" style="font-weight: normal;">
                            {% if (editForm) and (editDto.organizer.id == defaultOrganizerId) %}
                            <input id="organizer_name_unknown" type="checkbox" checked="checked">
                            {% else %}
                            <input id="organizer_name_unknown" type="checkbox">
                            {% endif %}
                            Ich kenne den Veranstalter nicht!
                        </label>
                    </div>
                </div>

                <section id="organizer_data">

                <div class="pure-g">
                    <div class="pure-u-1 pure-u-md-3-4 pure-u-lg-1-2">
                        <label for="organizer_name">Name des Veranstalters (*)</label>
                        <input id="organizer_name" type="text" placeholder="Name des Veranstalters" class="pure-input-1" value="{{editDto.organizer.name}}">
                    </div>
                </div>
                <div class="pure-g">
                    <div class="pure-u-1 pure-u-md-3-4 pure-u-lg-1-2">
                        <label for="organizer_phone">Telefonnummer</label>
                        <input id="organizer_phone" type="tel" placeholder="Telefonnummer" class="pure-input-1" value="{{editDto.organizer.phone}}">
                    </div>
                </div>
                <div class="pure-g">
                    <div class="pure-u-1 pure-u-md-3-4 pure-u-lg-1-2">
                        <label for="organizer_email">E-Mail</label>
                        <input id="organizer_email" type="email" placeholder="E-Mail" class="pure-input-1" value="{{editDto.organizer.email}}">
                    </div>
                </div>
                <div class="pure-g">
                    <div class="pure-u-1 pure-u-md-3-4 pure-u-lg-1-2">
                        <label for="organizer_url">Website</label>
                        <input id="organizer_url" type="text" placeholder="Website" class="pure-input-1" value="{{editDto.organizer.url}}">
                    </div>
                </div>
                <div class="pure-g">
                    <div class="pure-u-1 pure-u-md-3-4 pure-u-lg-1-2 hint">
                        <strong>Die Adresse ist identisch mit der Adresse des Kinderflohmarkts?</strong> <a href="#">Adresse übernehmen!</a>
                    </div>
                </div>
                <div class="pure-g">
                    <div class="pure-u-9-24">
                        <label for="organizer_street">Stra&szlig;e</label>
                        <input id="organizer_street" type="text" placeholder="Stra&szlig;e" class="pure-input-1" value="{{editDto.organizer.street}}">
                    </div>
                    <div class="pure-u-3-24">
                        <label for="organizer_streetNo">Hausnummer</label>
                        <input id="organizer_streetNo" type="text" placeholder="Hausnummer" class="pure-input-1" value="{{editDto.organizer.streetNo}}">
                    </div>
                </div>
                <div class="pure-g">
                    <div class="pure-u-3-24">
                        <label for="organizer_zip">PLZ</label>
                        <input id="organizer_zip" type="text" placeholder="PLZ" class="pure-input-1" value="{{editDto.organizer.zipCode}}">
                    </div>
                    <div class="pure-u-9-24">
                        <label for="organizer_city">Ort</label>
                        <input id="organizer_city" type="text" placeholder="Ort" class="pure-input-1" value="{{editDto.organizer.city}}">
                    </div>
                </div>

                </section>

                {% endif %}

                <div class="pure-g">
                    <div class="pure-u-1 pure-u-md-3-4 pure-u-lg-1-2">
                        <button type="submit" id="submitform" class="pure-button">
                            <i class="fa fa-save fa-lg"></i>
                            {% if editForm %}
                            Änderungen speichern - click hier!
                            {% else %}
                            Neuen Termin speichern - click hier!
                            {% endif %}
                        </button>
                    </div>
                </div>
            </form>
        </div>
        {% endif %}
    </div>
    <nav class="footer l-box is-center pure-menu pure-menu-horizontal">
        www.onkel-rudi.de
        <ul class="pure-menu-list">
            <li class="pure-menu-item"><a href="/public/impressum/" class="pure-menu-link">About/Impressum</a></li>
        </ul>
    </nav>

</div>

<script type="text/javascript">
    var _paq = _paq || [];
    _paq.push(["setDomains", ["*.www.onkel-rudi.de"]]);
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function() {
        var u="//s.onkel-rudi.de/";
        _paq.push(['setTrackerUrl', u+'piwik.php']);
        _paq.push(['setSiteId', 1]);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
    })();
</script>
<noscript><p><img src="//s.onkel-rudi.de/piwik.php?idsite=1" style="border:0;" alt="" /></p></noscript>

</body>
</html>
