<!doctype html>
<html lang="de">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Finde einen Kinderflohmarkt bei Onkel Rudi!">

    <title>Einen Kinderflohmarkt findest Du bei Onkel Rudi!</title>

    <link rel="stylesheet" href="/public/bower_components/pure/pure-min.css">
    <!--[if lte IE 8]>
    <link rel="stylesheet" href="/public/bower_components/pure/grids-responsive-old-ie-min.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
    <link rel="stylesheet" href="/public/bower_components/pure/grids-responsive-min.css">
    <!--<![endif]-->
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.css">
    <!--[if lte IE 8]>
    <link rel="stylesheet" href="/public/css/onkelrudi-old-ie.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
    <link rel="stylesheet" href="/public/css/onkelrudi.css">
    <!--<![endif]-->

    <script src="/public/bower_components/jquery/dist/jquery.js"></script>

    <script>
        $(function () {
            $('#registrationForm').on('submit', function (e) {
                e.preventDefault();

                var urlRegistration = '/public/api/v1/users';
                var postData = JSON.stringify({
                    email: $('#register_email').val(),
                    password: $('#register_password').val(),
                    password_repeat: $('#register_password_repeat').val(),
                    register_as_organizer: $('#register_as_organizer').prop('checked')
                });

                $.ajax({
                    type: "POST",
                    url: urlRegistration,
                    contentType: "application/json",
                    data: postData,
                    success: function (data) {
                        $('.errormessage').remove();
                        $('.successmessage').remove();
                        $('#submitregister').removeClass('button-error');
                        $('#submitregister').addClass('button-success');
                        $('#submitregister').parent().append(
                            '<p class="successmessage"><i class="fa fa-check fa-lg"></i>Danke - Dein Benutzer wurde erfolgreich angelegt! Bitte schaue in Dein E-Mail-Postfach (' + $('#register_email').val() + ') und folge dem Bestätigungslink, um Deine Registrierung abzuschließen.</p>'
                        );
                    },
                    error: function (data) {
                        $('.errormessage').remove();
                        $('.successmessage').remove();
                        $('#submitregister').removeClass('button-success');
                        $('#submitregister').addClass('button-error');
                        // TODO: hier kommt responseText, kein responseJSON zurück!
                        $('#submitregister').parent().append(
                            '<p class="errormessage"><i class="fa fa-exclamation fa-lg"></i>Es ist etwas schiefgegangen: ' + data.responseJSON.error/*data.statusText*/ + '.</p>'
                        );
                    },
                    dataType: 'json'
                });
            });
            $('#loginForm').on('submit', function (e) {
                e.preventDefault();

                var urlRegistration = '/public/api/v1/login';
                var postData = JSON.stringify({
                    email: $('#login_email').val(),
                    password: $('#login_password').val()
                });

                $.ajax({
                    type: "POST",
                    url: urlRegistration,
                    contentType: "application/json",
                    data: postData,
                    success: function (data) {
                        $('.errormessage').remove();
                        $('.successmessage').remove();
                        $('#submitlogin').removeClass('button-error');
                        $('#submitlogin').addClass('button-success');
                        $('#submitlogin').parent().append(
                            '<p class="successmessage"><i class="fa fa-check fa-lg"></i>Danke - Du hast Dich erfolgreich angemeldet!</p>'
                        );
                        window.setTimeout(function() {
                            window.location.href = '{{profileurl}}';
                        }, 2000);
                    },
                    error: function (data) {
                        $('.errormessage').remove();
                        $('.successmessage').remove();
                        $('#submitlogin').removeClass('button-success');
                        $('#submitlogin').addClass('button-error');
                        $('#submitlogin').parent().append(
                            '<p class="errormessage"><i class="fa fa-exclamation fa-lg"></i>Der Login ist fehlgeschlagen. ' + data.responseJSON.error/*data.statusText*/ + '.</p>'
                        );
                    },
                    dataType: 'json'
                });
            });
        });
    </script>
</head>
<body class="loginregister">
<div class="header">
    <nav class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
        <a class="pure-menu-heading" href="/public/">Onkel Rudi</a>
        <ul class="pure-menu-list">
            {% for item in wpCategories %}
            <li class="pure-menu-item"><a href="/public/{{item.slug}}/kategorie/{{item.id}}" class="pure-menu-link">{{item.name}}</a></li>
            {% endfor %}
            {% if isLoggedIn == false %}
            <li class="pure-menu-item pure-menu-active"><a href="/public/login/" class="pure-menu-link">Login</a></li>
            {% endif %}
            {% if isLoggedIn == true %}
            <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
                <a href="#" class="pure-menu-link" id="settings" aria-haspopup="true"><i class="fa fa-user" title="Deine Profileinstellungen"></i></a>
                <ul class="pure-menu-children" role="menu" aria-labelledby="settings" aria-hidden="true">
                    <li class="pure-menu-item"><a href="{{profileurl}}" class="pure-menu-link">Meine Flohmärkte</a></li>
                    <li class="pure-menu-item"><a href="{{createfleamarketurl}}" class="pure-menu-link">Flohmarkt eintragen</a></li>
                    <li class="pure-menu-item"><a href="{{changepasswordurl}}" class="pure-menu-link">Passwort ändern</a></li>
                    <li class="pure-menu-item"><a href="{{logouturl}}" class="pure-menu-link" id="logout">Logout</a></li>
                </ul>
            </li>
            {% endif %}
        </ul>
    </nav>
</div>

<div class="content-wrapper">
    <div class="content">
        <div class="regformbox">
            <div class="pure-g">
                {% if loggedIn %}
                <div class="pure-u-1">
                    <p class="errormessage"><i class="fa fa-exclamation fa-lg"></i><strong>Du bist bereits angemeldet und wirst gleich auf Deine Profilseite weitergeleitet.</strong></p>
                    <script type="application/javascript">
                        window.setTimeout(function() {
                            window.location.href = '{{profileurl}}';
                        }, 2000);
                    </script>
                </div>
                {% endif %}
                <div class="pure-u-1-2 pure-u-md-1 pure-u-lg-1-2">
                    {% if optin and optinfailed %}
                        <p class="errormessage"><i class="fa fa-exclamation fa-lg"></i>Dein Login konnte nicht aktiviert werden.</p>
                    {% elseif optin %}
                        <p class="successmessage"><i class="fa fa-check fa-lg"></i>Dein Login wurde aktiviert, Du kannst Dich jetzt anmelden.</p>
                    {% endif %}
                    <h2 class="content-head">Login</h2>
                    <p>
                        Bitte melde Dich mit Deinen Benutzerdaten an!
                    </p>
                    <form id="loginForm" method="post" class="pure-form pure-form-stacked">
                        <label for="login_email">Deine E-Mail-Adresse</label>
                        <input id="login_email" type="text" placeholder="Anmeldung mit Deiner E-Mail-Adresse"
                               class="pure-input-1">
                        <label for="login_password">Dein Passwort</label>
                        <input id="login_password" type="password" placeholder="Bitte gib Dein Passwort hier ein"
                               class="pure-input-1">
                        <button type="submit" id="submitlogin" class="pure-button">
                            <i class="fa fa-user fa-lg"></i>
                            Anmelden
                        </button>
                    </form>
                </div>
                <div class="pure-u-1-2 pure-u-md-1 pure-u-lg-1-2">
                    <h2 class="content-head">Noch kein Login? - <br>Registriere Dich hier und veröffentliche Deine Flohmarkt-Termine!</h2>
                    <p>
                        Für die Registrierung brauchst Du nur Deine E-Mail-Adresse und ein Passwort.
                    </p>
                    <form id="registrationForm" method="post" class="pure-form pure-form-stacked">
                        <label for="register_email">Deine E-Mail-Adresse</label>
                        <input id="register_email" type="text" placeholder="Anmeldung mit Deiner E-Mail-Adresse enrichten"
                               class="pure-input-1">
                        <label for="register_password">Dein Passwort</label>
                        <input id="register_password" type="password" placeholder="Bitte lege ein Passwort fest"
                               class="pure-input-1">
                        <label for="register_password">Dein Passwort wiederholen</label>
                        <input id="register_password_repeat" type="password" placeholder="Bitte wiederhole das Passwort"
                               class="pure-input-1">
                        <label for="register_as_organizer">
                            <input id="register_as_organizer" type="checkbox"> Ich will mich als Veranstalter registrieren
                        </label>
                        <button type="submit" id="submitregister" class="pure-button">
                            <i class="fa fa-user-plus fa-lg"></i>
                            Neuen Benutzer anlegen
                        </button>
                    </form>
                    <p>
                        Sobald Du dieses Formular abgeschickt hast, bekommst Du eine E-Mail mit einem Bestätigungslink, über den Du Deine
                        Registrierung abschließen und Deinen Benutzer aktivieren kannst.
                    </p>
                    <p>
                        Falls Du nach einer Minute noch keine E-Mail mit einem Bestätigungslink erhalten hast, schau bitte in Deinem Spam-Ordner nach und überprüfe, ob Du Dich eventuell bei der E-Mail vertippt hast.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <nav class="footer l-box is-center pure-menu pure-menu-horizontal">
        www.onkel-rudi.de
        <ul class="pure-menu-list">
            <li class="pure-menu-item"><a href="/public/about/" class="pure-menu-link">About</a></li>
            <li class="pure-menu-item"><a href="/public/impressum/" class="pure-menu-link">Impressum</a></li>
        </ul>
    </nav>
</div>

<script type="text/javascript">
    var _paq = _paq || [];
    _paq.push(["setDomains", ["*.www.onkel-rudi.de"]]);
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function() {
        var u="//s.onkel-rudi.de/";
        _paq.push(['setTrackerUrl', u+'piwik.php']);
        _paq.push(['setSiteId', 1]);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
    })();
</script>
<noscript><p><img src="//s.onkel-rudi.de/piwik.php?idsite=1" style="border:0;" alt="" /></p></noscript>

</body>
</html>