<!doctype html>
<html lang="de">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Finde hier einen Kinderflohmarkt oder Kinderbasar! Flohmarkttermine in deiner Nähe - Köln und Umgebung - Für heute und die kommenden Wochen.">

    <title>Einen Kinderflohmarkt findest Du bei Onkel Rudi!</title>

    <link rel="stylesheet" href="/public/bower_components/pure/pure-min.css">
    <!--[if lte IE 8]>
    <link rel="stylesheet" href="/public/bower_components/pure/grids-responsive-old-ie-min.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
    <link rel="stylesheet" href="/public/bower_components/pure/grids-responsive-min.css">
    <!--<![endif]-->
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.css">
    <!--[if lte IE 8]>
    <link rel="stylesheet" href="/public/css/onkelrudi-old-ie.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
    <link rel="stylesheet" href="/public/css/onkelrudi.css">
    <!--<![endif]-->

    <script src="/public/bower_components/jquery/dist/jquery.js"></script>

    <script>
        $(function () {
            $('#updateOrganizerProfile').on('submit', function (e) {
                e.preventDefault();
                var ajaxUrl = '/public/api/v1/organizers/' + '{{ organizer.id }}';
                var postData = JSON.stringify({
                    name: $('#organizer_name').val(),
                    street: $('#organizer_street').val(),
                    streetNo: $('#organizer_streetNo').val(),
                    zipCode: $('#organizer_zip').val(),
                    city: $('#organizer_city').val(),
                    phone: $('#organizer_phone').val(),
                    email: $('#organizer_email').val(),
                    url: $('#organizer_url').val()
                });
                $.ajax({
                    type: "PUT",
                    url: ajaxUrl,
                    contentType: "application/json",
                    data: postData,
                    success: function (data) {
                        $('.errormessage').remove();
                        $('.successmessage').remove();
                        $('#updateOrganizerProfile').parent().append(
                            '<p class="successmessage"><i class="fa fa-check fa-lg"></i>Dein Profil wurde erfolgreich gespeichert!</p>'
                        );
                        window.setTimeout(function() {
                            window.location.href = '{{profileurl}}';
                        }, 2000);
                    },
                    error: function (data) {
                        $('.errormessage').remove();
                        $('.successmessage').remove();
                        $('#updateOrganizerProfile').parent().append(
                            '<p class="errormessage"><i class="fa fa-exclamation fa-lg"></i>Deine Angaben konnten nicht gespeichert werden. ' + data.responseJSON.error/*data.statusText*/ + '.</p>'
                        );
                    },
                    dataType: 'json'
                });
            });
        });
    </script>
</head>
<body class="admin">
<div class="header">
    <nav class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
        <a class="pure-menu-heading" href="/public/">Onkel Rudi</a>
        <ul class="pure-menu-list">
            {% for item in wpCategories %}
            <!-- <li class="pure-menu-item"><a href="/public/{{item.slug}}/kategorie/{{item.id}}" class="pure-menu-link">{{item.name}}</a></li> -->
            {% endfor %}
            {% if isLoggedIn == false %}
            <li class="pure-menu-item"><a href="/public/login/" class="pure-menu-link">Login</a></li>
            {% endif %}
            {% if isLoggedIn == true %}
            <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
                <a href="#" class="pure-menu-link" id="settings" aria-haspopup="true"><i class="fa fa-user" title="Deine Profileinstellungen"></i></a>
                <ul class="pure-menu-children" role="menu" aria-labelledby="settings" aria-hidden="true">
                    <li class="pure-menu-item"><a href="{{profileurl}}" class="pure-menu-link">Meine Flohmärkte</a></li>
                    <li class="pure-menu-item"><a href="{{createfleamarketurl}}" class="pure-menu-link">Flohmarkt eintragen</a></li>
                    <li class="pure-menu-item"><a href="{{changepasswordurl}}" class="pure-menu-link">Passwort ändern</a></li>
                    <li class="pure-menu-item"><a href="{{logouturl}}" class="pure-menu-link" id="logout">Logout</a></li>
                </ul>
            </li>
            {% endif %}
        </ul>
    </nav>
</div>

<div class="content-wrapper">
    <div class="content">
        <h2 class="content-head">Hallo, Du bist angemeldet als {{data.identifier}}.</h2>
        <div class="pure-g">
            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-2">
                {% if fleamarkets|length > 0 %}
                <h3 class="content-subhead">Hier kannst Du die von Dir angelegten Flohmärkte bearbeiten:</h3>
                    <ol>
                    {% for item in fleamarkets %}
                        <li>
                            <a href="/public/flohmarkt-bearbeiten/{{ item.id }}" title="Flohmarkt bearbeiten">
                            {{ item.name }} <time datetime="{{item.dates|first.start|date('c')}}">{{item.dates|first.start|date("d.m.Y")}} von {{item.dates|first.start|date("H:i")}} - {{item.dates|first.end|date("H:i")}} Uhr</time> in <span class="post-category post-category-design">{{item.city}}</span>
                            </a>
                        </li>
                    {% endfor %}
                    </ol>
                {% else %}
                <h3 class="content-subhead">Du hast noch keinen Flohmarkt angelegt.</h3>
                <p><i class="fa fa-angle-double-right fa-lg"></i><a href="{{createfleamarketurl}}">Hier kannst Du einen Flohmarkt eintragen</a></p>
                {% endif %}
            </div>
            {% if organizer %}
            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-2">
                <h3 class="content-subhead">Dein Veranstalterprofil:</h3>
                <p>Diese Angaben werden neben all Deinen Flohmarktterminen erscheinen.</p>
                <!--
                Input organizer_name hat email|id als wert?!
                Input organizer_email ist leer, sollte aber email|id sein?!
                //-->
                <form id="updateOrganizerProfile" method="post" class="pure-form pure-form-stacked">
                    <div class="pure-g">
                        <div class="pure-u-1">
                            <label for="organizer_name">Dein Veranstaltername (*)</label>
                            <input id="organizer_name" type="text" placeholder="Dieser Name wird als Veranstalter angezeigt" class="pure-input-1" value="{{ organizer.name }}">
                        </div>
                    </div>
                    <div class="pure-g">
                        <div class="pure-u-1">
                            <label for="organizer_phone">Telefonnummer</label>
                            <input id="organizer_phone" type="tel" placeholder="Telefonnummer" class="pure-input-1" value="{{ organizer.phone }}">
                        </div>
                    </div>
                    <div class="pure-g">
                        <div class="pure-u-1">
                            <label for="organizer_email">E-Mail</label>
                            <input id="organizer_email" type="email" placeholder="E-Mail" class="pure-input-1" value="{{ organizer.email }}">
                        </div>
                    </div>
                    <div class="pure-g">
                        <div class="pure-u-1">
                            <label for="organizer_url">Website</label>
                            <input id="organizer_url" type="text" placeholder="Website" class="pure-input-1" value="{{ organizer.url }}">
                        </div>
                    </div>
                    <div class="pure-g">
                        <div class="pure-u-18-24">
                            <label for="organizer_street">Stra&szlig;e</label>
                            <input id="organizer_street" type="text" placeholder="Stra&szlig;e" class="pure-input-1" value="{{ organizer.street }}">
                        </div>
                        <div class="pure-u-6-24">
                            <label for="organizer_streetNo">Hausnummer</label>
                            <input id="organizer_streetNo" type="text" placeholder="Hausnummer" class="pure-input-1" value="{{ organizer.streetNo }}">
                        </div>
                    </div>
                    <div class="pure-g">
                        <div class="pure-u-6-24">
                            <label for="organizer_zip">PLZ</label>
                            <input id="organizer_zip" type="text" placeholder="PLZ" class="pure-input-1" value="{{ organizer.zipCode }}">
                        </div>
                        <div class="pure-u-18-24">
                            <label for="organizer_city">Ort</label>
                            <input id="organizer_city" type="text" placeholder="Ort" class="pure-input-1" value="{{ organizer.city }}">
                        </div>
                    </div>

                    <div class="pure-g">
                        <div class="pure-u-1">
                            <label for="acceptDataProcessing" id="labelAcceptDataProcessing">
                                <input type="checkbox" id="acceptDataProcessing"> Mit Absenden dieses Formulars stimme ich zu, dass meine persönlichen Daten (hier mein Veranstaltername, Telefonnummer, E-Mail-Adresse, Website-URL, Adresse mit Straße, Hausnummer, Postleitzahl und Ort) zum Zweck der Nutzung auf &quot;onkel-rudi.de&quot; für die Veröffentlichung von Kinderflohmärkten, die ich veranstalte, gespeichert werden.
                            </label>
                        </div>
                    </div>

                    <div class="pure-g">
                        <div class="pure-u-1">
                            <button type="submit" id="submitform" class="pure-button">
                                <i class="fa fa-save fa-lg"></i> speichern
                            </button>
                        </div>
                    </div>
                </form>
                <p>
                    Informationen zum Umgang mit Deinen persönlichen Daten findest Du im Bereich <a href="/public/datenschutz/" title="Datenschutzinformationen">Datenschutz</a>.
                </p>
            </div>
            {% endif %}
        </div>
    </div>
    <nav class="footer l-box is-center pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
            <li class="pure-menu-item"><a href="/public/impressum/" class="pure-menu-link">About/Impressum</a></li>
            <li class="pure-menu-item"><a href="/public/datenschutz/" class="pure-menu-link">Datenschutz</a></li>
        </ul>
    </nav>

</div>

<script type="text/javascript">
    var _paq = _paq || [];
    _paq.push(["setDomains", ["*.www.onkel-rudi.de"]]);
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function() {
        var u="//s.onkel-rudi.de/";
        _paq.push(['setTrackerUrl', u+'piwik.php']);
        _paq.push(['setSiteId', 1]);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
    })();
</script>
<noscript><p><img src="//s.onkel-rudi.de/piwik.php?idsite=1" style="border:0;" alt="" /></p></noscript>

</body>
</html>
