<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Onkel Rudi - Der Terminkalender zu Kinderflohmarkt und Kinderbasar.">

    <title>Onkel Rudi - Finde Deinen Kinderflohmarkt oder Kinderbasar!</title>

    <link rel="stylesheet" href="/public/bower_components/pure/pure-min.css">
    <!--[if lte IE 8]>
    <link rel="stylesheet" href="/public/bower_components/pure/grids-responsive-old-ie-min.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
    <link rel="stylesheet" href="/public/bower_components/pure/grids-responsive-min.css">
    <!--<![endif]-->
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.css">
    <!--[if lte IE 8]>
    <link rel="stylesheet" href="/public/css/onkelrudi-old-ie.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
    <link rel="stylesheet" href="/public/css/onkelrudi.css">
    <!--<![endif]-->

    <script src="/public/bower_components/jquery/dist/jquery.js"></script>

    <script>
        $(function () {
            $('#logout').on('click', function (e) {
                e.preventDefault();
                $.ajax({
                    type: "POST",
                    url: '/public/api/v1/logout',
                    contentType: "application/json",
                    data: {},
                    success: function (data) {
                        $('.errormessage').remove();
                        $('.successmessage').remove();
                        $('#logout').parent().append(
                            '<p class="successmessage"><i class="fa fa-check fa-lg"></i>Dein Logout war erfolgreich!</p>'
                        );
                        window.setTimeout(function() {
                            window.location.href = '{{profileurl}}';
                        }, 200);
                    },
                    error: function (data) {
                        $('.errormessage').remove();
                        $('.successmessage').remove();
                        $('#logout').parent().append(
                            '<p class="errormessage"><i class="fa fa-exclamation fa-lg"></i>Der Logout ist fehlgeschlagen. ' + data.responseJSON.error/*data.statusText*/ + '.</p>'
                        );
                    },
                    dataType: 'json'
                });
            });

            $('#updateOrganizerProfile').on('submit', function (e) {
                e.preventDefault();
                var ajaxUrl = '/public/api/v1/organizers/' + '{{ organizer.id }}';
                var postData = JSON.stringify({
                    name: $('#organizer_name').val(),
                    street: $('#organizer_street').val(),
                    streetNo: $('#organizer_streetNo').val(),
                    zipCode: $('#organizer_zip').val(),
                    city: $('#organizer_city').val(),
                    phone: $('#organizer_phone').val(),
                    email: $('#organizer_email').val(),
                    url: $('#organizer_url').val()
                });
                $.ajax({
                    type: "PUT",
                    url: ajaxUrl,
                    contentType: "application/json",
                    data: postData,
                    success: function (data) {
                        $('.errormessage').remove();
                        $('.successmessage').remove();
                        $('#updateOrganizerProfile').parent().append(
                            '<p class="successmessage"><i class="fa fa-check fa-lg"></i>Dein Profil wurde erfolgreich gespeichert!</p>'
                        );
                        window.setTimeout(function() {
                            window.location.href = '{{profileurl}}';
                        }, 2000);
                    },
                    error: function (data) {
                        $('.errormessage').remove();
                        $('.successmessage').remove();
                        $('#updateOrganizerProfile').parent().append(
                            '<p class="errormessage"><i class="fa fa-exclamation fa-lg"></i>Deine Angaben konnten nicht gespeichert werden. ' + data.responseJSON.error/*data.statusText*/ + '.</p>'
                        );
                    },
                    dataType: 'json'
                });
            });
        });
    </script>
</head>
<body class="admin">
<div class="header">
    <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
        <a class="pure-menu-heading" href="/public/">Onkel Rudi</a>
        <ul class="pure-menu-list">
            {% for item in wpCategories %}
            <li class="pure-menu-item"><a href="/public/{{item.slug}}/kategorie/{{item.id}}" class="pure-menu-link">{{item.name}}</a></li>
            {% endfor %}
            {% if isLoggedIn == false %}
            <li class="pure-menu-item"><a href="/public/login/" class="pure-menu-link">Login</a></li>
            {% endif %}
            {% if isLoggedIn == true %}
            <li class="pure-menu-item pure-menu-active"><a href="/public/profil/" class="pure-menu-link" id="settings"><i class="fa fa-user" title="Deine Profileinstellungen"></i></a></li>
            {% endif %}
        </ul>
    </div>
</div>

<div class="content-wrapper">
    <div class="content">
        <h2 class="content-head">Hallo, Du bist angemeldet als {{data.identifier}}. <i class="fa fa-angle-double-right"></i><a id="logout" href="#" title="Logout - Bei Onkel Rudi abmelden">Logout</a></h2>
        <div class="pure-g">
            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-2">
                <h2>Deine Flohmärkte</h2>
                <p>
                    <i class="fa fa-angle-double-right"></i><a href="{{createfleamarketurl}}" title="Einen Flohmarkt anlegen">einen neuen Flohmarkt anlegen</a>
                </p>
                {% if fleamarkets|length > 0 %}
                Von Dir angelegte Flohmärkte - Click zum Bearbeiten<br>
                    <ol>
                    {% for item in fleamarkets %}
                        <li>
                            <a href="/public/flohmarkt-bearbeiten/{{ item.id }}" title="Flohmarkt bearbeiten">
                            {{ item.name }} <time datetime="{{item.dates|first.start|date('c')}}">{{item.dates|first.start|date("d.m.Y")}} von {{item.dates|first.start|date("H:i")}} - {{item.dates|first.end|date("H:i")}} Uhr</time> in <span class="post-category post-category-design">{{item.city}}</span>
                            </a>
                        </li>
                    {% endfor %}
                    </ol>
                {% endif %}
            </div>
            {% if organizer %}
            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-2">
                <h2>Dein Veranstalterprofil</h2>
                <p>Diese Angaben werden neben all Deinen Flohmarktterminen erscheinen.</p>
                <form id="updateOrganizerProfile" method="post" class="pure-form pure-form-stacked">
                    <div class="pure-g">
                        <div class="pure-u-1-2">
                            <label for="organizer_name">Dein Veranstaltername (*)</label>
                            <input id="organizer_name" type="text" placeholder="Veranstaltername" class="pure-input-1" value="{{ organizer.name }}">
                        </div>
                    </div>
                    <div class="pure-g">
                        <div class="pure-u-1-2">
                            <label for="organizer_phone">Telefonnummer</label>
                            <input id="organizer_phone" type="tel" placeholder="Telefonnummer" class="pure-input-1" value="{{ organizer.phone }}">
                        </div>
                    </div>
                    <div class="pure-g">
                        <div class="pure-u-1-2">
                            <label for="organizer_email">E-Mail</label>
                            <input id="organizer_email" type="email" placeholder="E-Mail" class="pure-input-1" value="{{ organizer.email }}">
                        </div>
                    </div>
                    <div class="pure-g">
                        <div class="pure-u-1-2">
                            <label for="organizer_url">Website</label>
                            <input id="organizer_url" type="text" placeholder="Website" class="pure-input-1" value="{{ organizer.url }}">
                        </div>
                    </div>
                    <div class="pure-g">
                        <div class="pure-u-9-24">
                            <label for="organizer_street">Stra&szlig;e</label>
                            <input id="organizer_street" type="text" placeholder="Stra&szlig;e" class="pure-input-1" value="{{ organizer.street }}">
                        </div>
                        <div class="pure-u-3-24">
                            <label for="organizer_streetNo">Hausnummer</label>
                            <input id="organizer_streetNo" type="text" placeholder="Hausnummer" class="pure-input-1" value="{{ organizer.streetNo }}">
                        </div>
                    </div>
                    <div class="pure-g">
                        <div class="pure-u-3-24">
                            <label for="organizer_zip">PLZ</label>
                            <input id="organizer_zip" type="text" placeholder="PLZ" class="pure-input-1" value="{{ organizer.zipCode }}">
                        </div>
                        <div class="pure-u-9-24">
                            <label for="organizer_city">Ort</label>
                            <input id="organizer_city" type="text" placeholder="Ort" class="pure-input-1" value="{{ organizer.city }}">
                        </div>
                    </div>

                    <div class="pure-g">
                        <div class="pure-u-1-2">
                            <button type="submit" id="submitform" class="pure-button">
                                <i class="fa fa-save fa-lg"></i> speichern
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            {% endif %}
        </div>
    </div>
    <div class="footer l-box is-center pure-menu pure-menu-horizontal">
        www.onkel-rudi.de
        <ul class="pure-menu-list">
            <li class="pure-menu-item"><a href="/public/#about" class="pure-menu-link">About</a></li>
            <li class="pure-menu-item"><a href="/public/#impressum" class="pure-menu-link">Impressum</a></li>
        </ul>
    </div>

</div>

<script type="text/javascript">
    var _paq = _paq || [];
    _paq.push(["setDomains", ["*.www.onkel-rudi.de"]]);
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function() {
        var u="//s.onkel-rudi.de/";
        _paq.push(['setTrackerUrl', u+'piwik.php']);
        _paq.push(['setSiteId', 1]);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
    })();
</script>
<noscript><p><img src="//s.onkel-rudi.de/piwik.php?idsite=1" style="border:0;" alt="" /></p></noscript>

</body>
</html>
