<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Onkel Rudi - Der Terminkalender zu Kinderflohmarkt und Kinderbasar.">

    <title>Onkel Rudi - Finde Deinen Kinderflohmarkt oder Kinderbasar!</title>

    <link rel="stylesheet" href="/public/bower_components/pure/pure-min.css">
    <!--[if lte IE 8]>
    <link rel="stylesheet" href="/public/bower_components/pure/grids-responsive-old-ie-min.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
    <link rel="stylesheet" href="/public/bower_components/pure/grids-responsive-min.css">
    <!--<![endif]-->
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.css">
    <!--[if lte IE 8]>
    <link rel="stylesheet" href="/public/css/onkelrudi-old-ie.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
    <link rel="stylesheet" href="/public/css/onkelrudi.css">
    <!--<![endif]-->
</head>
<body class="admin">
<div class="header">
    <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
        <a class="pure-menu-heading" href="/public/">Onkel Rudi</a>
        <ul class="pure-menu-list">
            {% for item in wpCategories %}
            <li class="pure-menu-item"><a href="/public/{{item.slug}}/kategorie/{{item.id}}" class="pure-menu-link">{{item.name}}</a></li>
            {% endfor %}
            <li class="pure-menu-item"><a href="/public/#about" class="pure-menu-link">About</a></li>
            <li class="pure-menu-item"><a href="/public/#impressum" class="pure-menu-link">Impressum</a></li>
            {% if isLoggedIn == false %}
            <li class="pure-menu-item"><a href="/public/login/" class="pure-menu-link">Login</a></li>
            {% endif %}
            {% if isLoggedIn == true %}
            <li class="pure-menu-item"><a href="#" class="pure-menu-link" id="settings"><i class="fa fa-cog" title="Einstellungen"></i></a></li>
            {% endif %}
        </ul>
    </div>
</div>

<div class="content-wrapper">
    <div class="content">
        <h2 class="content-head">Für diese Aktion musst Du angemeldet sein!</h2>
        <p class="errormessage">
            <i class="fa fa-exclamation fa-lg"></i>Manche Bereiche sind nur für angemeldete Benutzer zugänglich. Bitte gehe zum <a href="/public/login/?returnUrl={{returnurl}}">Login</a>.
        </p>
    </div>
    <div class="footer l-box is-center">
        {{"now"|date("Y")}} onkel-rudi.de
    </div>

</div>

<script type="text/javascript">
    var _paq = _paq || [];
    _paq.push(["setDomains", ["*.www.onkel-rudi.de"]]);
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function() {
        var u="//s.onkel-rudi.de/";
        _paq.push(['setTrackerUrl', u+'piwik.php']);
        _paq.push(['setSiteId', 1]);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
    })();
</script>
<noscript><p><img src="//s.onkel-rudi.de/piwik.php?idsite=1" style="border:0;" alt="" /></p></noscript>

</body>
</html>
