<!doctype html>
<html lang="de">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Finde einen Kinderflohmarkt bei Onkel Rudi!">

    <title>Einen Kinderflohmarkt findest Du bei Onkel Rudi!</title>

    <link rel="stylesheet" href="/public/bower_components/pure/pure-min.css">
    <!--[if lte IE 8]>
    <link rel="stylesheet" href="/public/bower_components/pure/grids-responsive-old-ie-min.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
    <link rel="stylesheet" href="/public/bower_components/pure/grids-responsive-min.css">
    <!--<![endif]-->
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.css">
    <!--[if lte IE 8]>
    <link rel="stylesheet" href="/public/css/onkelrudi-old-ie.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
    <link rel="stylesheet" href="/public/css/onkelrudi.css">
    <!--<![endif]-->
</head>
<body class="admin">
<div class="header">
    <nav class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
        <a class="pure-menu-heading" href="/public/">Onkel Rudi</a>
        <ul class="pure-menu-list">
            {% for item in wpCategories %}
            <li class="pure-menu-item"><a href="/public/{{item.slug}}/kategorie/{{item.id}}" class="pure-menu-link">{{item.name}}</a></li>
            {% endfor %}
            {% if isLoggedIn == false %}
            <li class="pure-menu-item"><a href="/public/login/" class="pure-menu-link">Login</a></li>
            {% endif %}
            {% if isLoggedIn == true %}
            <li class="pure-menu-item pure-menu-active pure-menu-has-children pure-menu-allow-hover">
                <a href="#" class="pure-menu-link" id="settings" aria-haspopup="true"><i class="fa fa-user" title="Deine Profileinstellungen"></i></a>
                <ul class="pure-menu-children" role="menu" aria-labelledby="settings" aria-hidden="true">
                    <li class="pure-menu-item"><a href="{{profileurl}}" class="pure-menu-link">Meine Flohmärkte</a></li>
                    <li class="pure-menu-item"><a href="{{createfleamarketurl}}" class="pure-menu-link">Flohmarkt eintragen</a></li>
                    <li class="pure-menu-item"><a href="{{changepasswordurl}}" class="pure-menu-link">Passwort ändern</a></li>
                    <li class="pure-menu-item"><a href="{{logouturl}}" class="pure-menu-link" id="logout">Logout</a></li>
                </ul>
            </li>
            {% endif %}
        </ul>
    </nav>
</div>

<div class="content-wrapper">
    <div class="content">
        <h2 class="content-head">Für diese Aktion musst Du angemeldet sein!</h2>
        <p class="errormessage">
            <i class="fa fa-exclamation fa-lg"></i>Manche Bereiche sind nur für angemeldete Benutzer zugänglich. Bitte gehe zum <a href="/public/login/?returnUrl={{returnurl}}">Login</a>.
        </p>
    </div>
    <nav class="footer l-box is-center pure-menu pure-menu-horizontal">
        www.onkel-rudi.de
        <ul class="pure-menu-list">
            <li class="pure-menu-item"><a href="/public/impressum/" class="pure-menu-link">About/Impressum</a></li>
        </ul>
    </nav>

</div>

<script type="text/javascript">
    var _paq = _paq || [];
    _paq.push(["setDomains", ["*.www.onkel-rudi.de"]]);
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function() {
        var u="//s.onkel-rudi.de/";
        _paq.push(['setTrackerUrl', u+'piwik.php']);
        _paq.push(['setSiteId', 1]);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
    })();
</script>
<noscript><p><img src="//s.onkel-rudi.de/piwik.php?idsite=1" style="border:0;" alt="" /></p></noscript>

</body>
</html>
