<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Onkel Rudi - Hier findest du den Kinderflohmarkt oder Kinderbasar.">
    <title>Onkel Rudi - Finde Deinen Kinderflohmarkt oder Kinderbasar!</title>
</head>
<body class="blog">
<div class="header">
    <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
        <a class="pure-menu-heading" href="/public/">Onkel Rudi</a>
        <ul class="pure-menu-list">
            {% for item in wpCategories %}
            <li class="pure-menu-item{% if item.id == selectedCategory %} pure-menu-active{% endif %}"><a href="/public/{{item.slug}}/kategorie/{{item.id}}" class="pure-menu-link">{{item.name}}</a></li>
            {% endfor %}
            {% if isLoggedIn == false %}
            <li class="pure-menu-item"><a href="/public/login/" class="pure-menu-link">Login</a></li>
            {% endif %}
            {% if isLoggedIn == true %}
            <li class="pure-menu-item"><a href="/public/profil/" class="pure-menu-link" id="settings"><i class="fa fa-user" title="Deine Profileinstellungen"></i>Profil</a></li>
            {% endif %}
        </ul>
    </div>
</div>

<div class="splash-container">
    <div class="splash">
        <h1 class="splash-head">Onkel Rudi</h1>
        <p class="splash-subhead">
            Du suchst einen Kinderflohmarkt? Hier findest Du ihn!
        </p>
    </div>
</div>

<div class="content-wrapper">
    <div class="content">
        <div class="pure-g">
            {% for item in data %}
            <div class="l-box pure-u-1 pure-u-md-1-4 pure-u-lg-1-4">
                <!-- {{wpCategories|first.name}} -->
                <h3 class="content-head"><time datetime="{{item.date|date('c')}}">{{item.date|date("d.m.Y H:i")}}</time></h3>
            </div>
            <div class="l-box pure-u-1 pure-u-md-3-4 pure-u-lg-3-4">
                <h2 class="content-head">{{item.title}}</h2>
                <div>
                    {{ item.content|striptags[:160] }}
                    {% if item.content|striptags|length > 160 %}
                        ...
                    {% endif %}
                </div>
                <i class="fa fa-angle-double-right"></i><a href="/public/blog/{{item.slug}}/post/{{item.postId}}" class="more">Vollständigen Artikel lesen</a>
            </div>
            {% endfor %}
        </div>
    </div>

    <div class="footer l-box is-center pure-menu pure-menu-horizontal">
        www.onkel-rudi.de
        <ul class="pure-menu-list">
            <li class="pure-menu-item"><a href="/public/#about" class="pure-menu-link">About</a></li>
            <li class="pure-menu-item"><a href="/public/#impressum" class="pure-menu-link">Impressum</a></li>
        </ul>
    </div>
</div>

<link rel="stylesheet" href="/public/bower_components/pure/pure-min.css">
<!--[if lte IE 8]>
<link rel="stylesheet" href="/public/bower_components/pure/grids-responsive-old-ie-min.css">
<![endif]-->
<!--[if gt IE 8]><!-->
<link rel="stylesheet" href="/public/bower_components/pure/grids-responsive-min.css">
<!--<![endif]-->
<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.css">
<!--[if lte IE 8]>
<link rel="stylesheet" href="/public/css/onkelrudi-old-ie.css">
<![endif]-->
<!--[if gt IE 8]><!-->
<link rel="stylesheet" href="/public/css/onkelrudi.css">
<!--<![endif]-->

<script type="text/javascript">
    var _paq = _paq || [];
    _paq.push(["setDomains", ["*.www.onkel-rudi.de"]]);
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function() {
        var u="//s.onkel-rudi.de/";
        _paq.push(['setTrackerUrl', u+'piwik.php']);
        _paq.push(['setSiteId', 1]);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
    })();
</script>
<noscript><p><img src="//s.onkel-rudi.de/piwik.php?idsite=1" style="border:0;" alt="" /></p></noscript>

</body>
</html>
