Database:
  dsn: "mysql:host=127.0.0.1;dbname=onkelrudi;charset=utf8"
  user: "root"
  password: "root"

System:
  environment: "dev"
  domain: "localhost"
  protocol: "http://"
  cache-adapter: "Illuminate"
  cache-path: "/var/www/html/cache/"

Wordpress:
  auth-username: 'rudi'
  auth-password: 'abc'
  api-domain: "localhost/wordpress"
  api-documentation: "http://v2.wp-api.org/"
  api-base-url: "/wp-json/wp/v2/"
  api-get-posts: "posts"
  api-get-post: "posts/"
  api-get-categories: "categories"

Mail:
  smtp-host: ""
  smtp-transport-security: ""
  smtp-port: ""
  smtp-authentication-method: ""
  smtp-username: ""
  smtp-password: ""