Database:
  dsn: "mysql:host=127.0.0.1;dbname=onkelrudi;charset=utf8"
  user: "root"
  password: "root"

System:
  environment: "dev"
  
Wordpress:
  api-documentation: "http://v2.wp-api.org/"
  api-base-url: "http://localhost/wordpress/wp-json/wp/v2/"
  api-get-posts: "posts"
  api-get-pages: "pages"