<?php
namespace RudiBieller\OnkelRudi\Config;

class Config
{
    public static $database = [
        'dsn' => {{dsn}},
        'user' => {{user}},
        'password' => {{password}}
    ];

    public static $system = [
        'environment' => {{environment}},
        'domain' => {{domain}},
        'protocol' => 'http://'
    ];

    public static $wordpress = [
        'auth-username' => {{auth-username}},
        'auth-password' => {{auth-password}},
        'api-documentation' => 'http://v2.wp-api.org/',
        'api-domain' => {{api-domain}},
        'api-base-url' => '/wp-json/wp/v2/',
        'api-get-posts' => 'posts',
        'api-get-categories' => 'categories'
    ];
}
